$white: #FFFFFF;

$cream: #FAF9F5;
$cream-lightest: lighten($cream, 10%);
$cream-darkest: darken($cream, 10%);

$grey: #535C61;
$grey-lightest: lighten($grey, 10%);
$grey-darkest: darken($grey, 10%);

$coral: #F08080;
$coral-lightest: lighten($coral, 10%);
$coral-darkest: darken($coral, 10%);
