$cream: #FAF9F5;
$cream-lighter: lighten($cream, 10%);
$cream-darker: darken($cream, 10%);

$text: #535C61;
$text-lighter: lighten($text, 10%);
$text-darker: darken($text, 10%);

$coral: #F08080;
$coral-lighter: lighten($coral, 10%);
$coral-darker: darken($coral, 10%);
