@import '../css/normalize.css';
@import '../css/foundation.css';
@import '../css/animate.min.css';
@import '_colours.scss';

body {
    background: $cream;
    color: $coral;
    font-family: "nimbus-sans",sans-serif;
}

#alb-logo {
    margin: 0 auto;
    width: 200px;
    height: auto;
    .alb-logo-one {
        fill: $coral;
    }
    .alb-logo-two {
        fill: $coral;
    }
    .alb-logo-three {
        fill: $coral;
    }
}
